.title {
    font-size: 3.5rem;
    @apply font-bold;
    color: var(--header-text-color);
    line-height: 2.5rem;
    margin-top: 2.9rem;
}
.subTitle {
    font-size: 1.7rem;
    color: var(--sub-header-text-color);
}
.social {
    @apply flex gap-5 sm:gap-3 list-none text-2xl sm:text-xl mt-2;
}
.social > li > a {
    color: var(--primary-color);
}
