:root {
    --border-color: rgba(0,0,0,0.6);
    --background-color: #FFF;
    --foreground-color: #171717;
    --header-text-color: #171717;
    --sub-header-text-color: #444;
    --primary-color: #171717;
    --secondary-color: #444;
    --link-color: #0000EE;
    --selection-color: #FFF;
}