.projectIcon {
    font-size: 3rem;
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
    color: var(--background-color);
}