.projectIcon {
    font-size: 3rem;
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid var(--sub-header-text-color);
    border-radius: 8px;
    background-color: var(--sub-header-text-color);
    color: var(--background-color);
}