@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-color: rgba(0,0,0,0.6);
  --background-color: #F5F5DC;
  --foreground-color: #171717;
  --header-text-color: #3C3D37;
  --sub-header-text-color: #697565;
  --primary-color: #E07B39;
  --default-color: rgba(0,0,0,0.6);
  /* --default-color: #B6A28E;
  --link-color: #459D8B; */
  --link-color: #328675;
  --selection-color: #171717;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
  font-family: var(--font-default), Arial, Helvetica, sans-serif;
  transition: color 200ms ease;
}
::selection {
  background-color: var(--default-color);
  color: var(--selection-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header), Arial, Helvetica, sans-serif;
  text-transform: lowercase;
  color: var(--header-text-color);
}
a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
  transition: opacity 200ms ease;
}
a:hover {
  opacity: 0.8;
}


.my-container {
  @apply container mx-auto px-8 sm:px-16;
}

.pill-container > * {
  margin-right: 0.4em;
  margin-top: 0.5em !important;
}
.pill-container > *:last-child {
  margin-right: 0;
}


.arrow-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
}
.arrow-link::after {
  content: '>';
  position: absolute;
  top: -0.51em;
  right: 0.13em;
  border-radius: 10px;
  color: var(--primary-color);
  font-family: var(--header-font);
  font-weight: bold;
  transition: transform 0.2s cubic-bezier(.47,1.64,.41,.8);
  transform: translateX(10px) rotate(-45deg);
}
.arrow-link:hover::after {
  transform: translateX(12px) translateY(-2px) rotate(-45deg);
}

.underline-link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.underline-link::before {
  content: '';
  border:1px solid var(--primary-color);
  height: 0px;
  width: 30%;
  position: absolute;
  border-radius: 4px;
  bottom: 0;
  transition: width 0.2s cubic-bezier(.47,1.64,.41,.8);
}
.underline-link:hover::before {
  width: 100%;
}

.heading {
  font-weight: bold;
  color: var(--header-text-color);
  font-size: 1.1rem;
  font-family: var(--font-header);
}

.sub-header-text-color {
  color: var(--sub-header-text-color);
}
.default-color {
  color: var(--default-color);
}
.header-text-color {
  color: var(--header-text-color);
}