/* .themeList {
    transform: translate(-3.7rem, 24.6rem) rotate(-90deg);
    position: fixed;
    font-size: 0.8rem;
    transform-origin: 0% 0%;
    color: var(--sub-header-text-color);
}
@media (max-width: 825px) {
    .themeList {
        transform: translate(-1.7rem, 24.6rem) rotate(-90deg);
    }
} */
.themeList {
    transform: translateX(-3.7rem) rotate(-90deg);
    position: fixed;
    font-size: 0.8rem;
    bottom: 2rem;
    transform-origin: 0% 0%;
    color: var(--sub-header-text-color);
}
@media (max-width: 825px) {
    .themeList {
        transform: translateX(-1.7rem) rotate(-90deg);
    }
}
.themeList::after {
    content: '';
    border-top: 1px dashed var(--sub-header-text-color);
    width: calc(100vh - 37.7rem);
    height: 0;
    position: absolute;
    top: 0.6rem;
    left: calc(100% - -0.7rem);
}
.themeList, .themeList > ul {
    display: flex;
}
.themeList > ul > li {
    margin-left: 0.5rem;
    cursor: pointer;
}
.themeList > ul > li::before {
    content: '';
    border: 1px solid var(--primary-color);
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    margin-right: 0.2em;
    vertical-align: middle;
}
.active::before {
    background-color: var(--primary-color);
}
.title {
    color: var(--header-text-color);
}